@charset "UTF-8";

body{
    background-color: rgb(0, 0, 0);
    box-sizing: content-box;
}

/* header#cabecalho{
    width: 900px;
    background-color: antiquewhite;
} */

header#cabecalho img#logo-nasa{
    position: absolute;
    top: 20px;
    left: 90px;
}

header#cabecalho ul#menu-superior{
    display: inline;
    list-style: none;
    position: absolute;
    width: 880px;
    align-items: center;
    text-align: center;
    left: 350px;  
    top: 15px;
}

header#cabecalho ul#menu-superior li{
    display: inline;
    font-size: 22px;
    padding: 12px;
    color: white;
}

header#cabecalho ul#menu-inferior{
    display: inline;
    position: absolute;
    list-style: none;
    color: white;
    width: 1290px;
    text-align: center;
    align-items: center;
    left: 110px;
    top: 80px; 
}

header#cabecalho ul#menu-inferior li{
    background-color: rgb(82, 82, 82);
    display: inline;
    font-size: 16px;
    padding: 10px;
}

header#cabecalho p{
    background-color: rgb(255, 0, 0);
    color: white;
    display: inline;
    position: absolute;
    top: 116px;
    left: 115px;
    right: 115px;
    text-align: left;
    padding-bottom: 10px;
    padding-top: 10px;
}

section#principal article#article01{
    background-color: aquamarine;
    display: inline;
    position: absolute;
    top: 180px;
    width: 620px;
    height: 560px;
    left: 115px;
}

section#principal article#article01 p{
    position: absolute;
    background-color: white;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 620px;
    bottom: -16px;
}

section#principal article#article02{
    background-color: aqua;
    display: inline;
    position: absolute;
    top: 180px;
    width: 368px;
    height: 300px;
    right: 490px;
    left: auto;
}

section#principal article#article02 p{
    position: absolute;
    background-color: white;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 368px;
    bottom: -16px;
}

section#principal article#article03{
    background-color: rgb(20, 220, 203);
    display: inline;
    position: absolute;
    /* width: 610px; */
    height: 252px;
    /* elimina o width e deixa somente o right e left para colocar o componente no lugar */
    right: 115px;
    left: 742px;
    top: 487.5px;
}

section#principal article#article03 p{
    position: absolute;
    display: inline;
    background-color: white;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 743px;
    right: 900px;
    left:0px;
    bottom: -16px;
}

section#principal aside{color: white;
    text-align: justify;
    background-color: rgb(0, 157, 219);
    display: inline;
    position: absolute;
    top: 180px;
    width: 368px;
    height: 300px;
    right: 115px;
    padding: 0px;
}

section#principal aside p{
    padding: 10px;
    padding-bottom: 0px;
    margin: 0px;
}

section#principal aside p#separador-sup{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
}

section#principal aside p#separador-inf{
    padding-left: 10px;
    padding-right: 10px;
    top: 200px;
}

section#principal aside p#rodape-aside{
    position: absolute;
    display: inline;
    width: 348px;
    top: 264px;
    padding-bottom: 8px;
}

/* article p.titulo-artigo{
    width: 50px;
    display: block;
    position: absolute;
    background-color: brown;
} */

article#article01 img{
    position: absolute;
    object-fit: cover;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 710px;
    height: 520px;
    padding-left: 10px;
    bottom: -16px;
    top: -10px;
    left: -10px;
}

article#article02 img{
    position: absolute;
    object-fit: cover;
    top: 0px;
    right: 0px;
    width: 310px;
    height: 300px;
}

article#article03 img{
    position: absolute;
    object-fit: cover;
    width: 650px;
    height: 240px;
    right: 0px;
    top: 0px;
}